{
    "swagger": "2.0",
    "info": {
      "title": "Si6ma API",
      "description": "Test description",
      "termsOfService": "https://www.google.com/policies/terms/",
      "contact": {
        "email": "support@thelyceum.io"
      },
      "license": {
        "name": "Private License"
      },
      "version": "v1"
    },
    "host": "api.thelyceum.io",
    "schemes": [
      "https"
    ],
    "basePath": "/api",
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "securityDefinitions": {
      "Bearer": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      },
      "Token": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "security": [
      {
        "Bearer": []
      },
      {
        "Token": []
      }
    ],
    "paths": {
      "/account/": {
        "get": {
          "operationId": "account_list",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/User"
                }
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "post": {
          "operationId": "account_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/AccountSignup"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/AccountSignup"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/check_availability/": {
        "post": {
          "operationId": "account_check_availability",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CheckUserAvailability"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/CheckUserAvailability"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/forgot_password/": {
        "post": {
          "operationId": "account_forgot_password",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ForgotPasswordSerialzier"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ForgotPasswordSerialzier"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/get_aws_token/": {
        "get": {
          "operationId": "account_get_aws_token",
          "description": "API returns temporary credentials for webClient to upload files to s3",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/User"
                }
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/invite/user/": {
        "post": {
          "operationId": "account_invite_invite_user_to_organization",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/InviteUser"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/InviteUser"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/login": {
        "post": {
          "operationId": "account_login_create",
          "description": "Takes a set of user credentials and returns an access and refresh JSON web\ntoken pair to prove the authentication of those credentials.",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/TokenObtainPair"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/TokenObtainPair"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/me/": {
        "get": {
          "operationId": "account_me",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/User"
                }
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/min/": {
        "get": {
          "operationId": "account_check_user_availability",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/UserAvailability"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/resend_email_verification/": {
        "get": {
          "operationId": "account_resend_email_verification_read",
          "description": "",
          "parameters": [
            {
              "name": "user_id",
              "in": "query",
              "description": "User id",
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ResendUserEmailVerificaton"
                }
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "post": {
          "operationId": "account_resend_email_verification_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ResendUserEmailVerificaton"
              }
            },
            {
              "name": "user_id",
              "in": "query",
              "description": "User id",
              "type": "boolean"
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ResendUserEmailVerificaton"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/reset_password/": {
        "post": {
          "operationId": "account_reset_password",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ResetPassword"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ResetPassword"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/token/refresh": {
        "post": {
          "operationId": "account_token_refresh_create",
          "description": "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/TokenRefresh"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/TokenRefresh"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/verify_email_address/": {
        "post": {
          "operationId": "account_verify_email_address",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Token"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Token"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": []
      },
      "/account/{id}/": {
        "get": {
          "operationId": "account_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/User"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "put": {
          "operationId": "account_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateUser"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/UpdateUser"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "patch": {
          "operationId": "account_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateUser"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/UpdateUser"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this User.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/account/{id}/follow/": {
        "get": {
          "operationId": "account_follow",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/User"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this User.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/account/{id}/follow_back/": {
        "get": {
          "operationId": "account_follow_back",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/User"
              }
            }
          },
          "tags": [
            "account"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this User.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/categories/": {
        "get": {
          "operationId": "categories_list",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/StandardCategory"
                }
              }
            }
          },
          "tags": [
            "categories"
          ]
        },
        "post": {
          "operationId": "categories_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/StandardCategory"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/StandardCategory"
              }
            }
          },
          "tags": [
            "categories"
          ]
        },
        "parameters": []
      },
      "/categories/{id}/": {
        "get": {
          "operationId": "categories_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/StandardCategory"
              }
            }
          },
          "tags": [
            "categories"
          ]
        },
        "put": {
          "operationId": "categories_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/StandardCategory"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/StandardCategory"
              }
            }
          },
          "tags": [
            "categories"
          ]
        },
        "patch": {
          "operationId": "categories_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/StandardCategory"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/StandardCategory"
              }
            }
          },
          "tags": [
            "categories"
          ]
        },
        "delete": {
          "operationId": "categories_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "categories"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this category.",
            "required": true,
            "type": "integer"
          }
        ]
      },
      "/comments/": {
        "get": {
          "operationId": "comments_list",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Comment"
                }
              }
            }
          },
          "tags": [
            "comments"
          ]
        },
        "post": {
          "operationId": "comments_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          },
          "tags": [
            "comments"
          ]
        },
        "parameters": []
      },
      "/comments/{id}/": {
        "get": {
          "operationId": "comments_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          },
          "tags": [
            "comments"
          ]
        },
        "put": {
          "operationId": "comments_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          },
          "tags": [
            "comments"
          ]
        },
        "patch": {
          "operationId": "comments_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          },
          "tags": [
            "comments"
          ]
        },
        "delete": {
          "operationId": "comments_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "comments"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this comment.",
            "required": true,
            "type": "integer"
          }
        ]
      },
      "/comments/{id}/react/": {
        "post": {
          "operationId": "comments_react",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          },
          "tags": [
            "comments"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this comment.",
            "required": true,
            "type": "integer"
          }
        ]
      },
      "/comments/{id}/reaction_history/": {
        "get": {
          "operationId": "comments_reaction_history",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Comment"
              }
            }
          },
          "tags": [
            "comments"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this comment.",
            "required": true,
            "type": "integer"
          }
        ]
      },
      "/component/": {
        "get": {
          "operationId": "component_list",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Component"
                }
              }
            }
          },
          "tags": [
            "component"
          ]
        },
        "post": {
          "operationId": "component_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Component"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Component"
              }
            }
          },
          "tags": [
            "component"
          ]
        },
        "parameters": []
      },
      "/component/{id}/": {
        "get": {
          "operationId": "component_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Component"
              }
            }
          },
          "tags": [
            "component"
          ]
        },
        "put": {
          "operationId": "component_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Component"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Component"
              }
            }
          },
          "tags": [
            "component"
          ]
        },
        "patch": {
          "operationId": "component_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Component"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Component"
              }
            }
          },
          "tags": [
            "component"
          ]
        },
        "delete": {
          "operationId": "component_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "component"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this component.",
            "required": true,
            "type": "integer"
          }
        ]
      },
      "/configs/": {
        "get": {
          "operationId": "configs_list",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ConfigTypes"
                }
              }
            }
          },
          "tags": [
            "configs"
          ]
        },
        "post": {
          "operationId": "configs_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ConfigTypes"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConfigTypes"
              }
            }
          },
          "tags": [
            "configs"
          ]
        },
        "parameters": []
      },
      "/configs/{id}/": {
        "get": {
          "operationId": "configs_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConfigTypes"
              }
            }
          },
          "tags": [
            "configs"
          ]
        },
        "put": {
          "operationId": "configs_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ConfigTypes"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConfigTypes"
              }
            }
          },
          "tags": [
            "configs"
          ]
        },
        "patch": {
          "operationId": "configs_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ConfigTypes"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConfigTypes"
              }
            }
          },
          "tags": [
            "configs"
          ]
        },
        "delete": {
          "operationId": "configs_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "configs"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this config types.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/configuration/": {
        "get": {
          "operationId": "configuration_list",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ConfigTypeHistory"
                }
              }
            }
          },
          "tags": [
            "configuration"
          ]
        },
        "post": {
          "operationId": "configuration_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ConfigTypeHistory"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConfigTypeHistory"
              }
            }
          },
          "tags": [
            "configuration"
          ]
        },
        "parameters": []
      },
      "/configuration/{id}/": {
        "get": {
          "operationId": "configuration_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConfigTypeHistory"
              }
            }
          },
          "tags": [
            "configuration"
          ]
        },
        "put": {
          "operationId": "configuration_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ConfigTypeHistory"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConfigTypeHistory"
              }
            }
          },
          "tags": [
            "configuration"
          ]
        },
        "patch": {
          "operationId": "configuration_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ConfigTypeHistory"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConfigTypeHistory"
              }
            }
          },
          "tags": [
            "configuration"
          ]
        },
        "delete": {
          "operationId": "configuration_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "configuration"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this configuration.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/constants/": {
        "get": {
          "operationId": "constants_list",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ConstantTypes"
                }
              }
            }
          },
          "tags": [
            "constants"
          ]
        },
        "post": {
          "operationId": "constants_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ConstantTypes"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConstantTypes"
              }
            }
          },
          "tags": [
            "constants"
          ]
        },
        "parameters": []
      },
      "/constants/{id}/": {
        "get": {
          "operationId": "constants_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConstantTypes"
              }
            }
          },
          "tags": [
            "constants"
          ]
        },
        "put": {
          "operationId": "constants_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ConstantTypes"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConstantTypes"
              }
            }
          },
          "tags": [
            "constants"
          ]
        },
        "patch": {
          "operationId": "constants_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ConstantTypes"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ConstantTypes"
              }
            }
          },
          "tags": [
            "constants"
          ]
        },
        "delete": {
          "operationId": "constants_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "constants"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this constant types.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/descriptors/": {
        "get": {
          "operationId": "descriptors_list",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/DescriptorsList"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "descriptors"
          ]
        },
        "parameters": []
      },
      "/equipment/": {
        "get": {
          "operationId": "equipment_list",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Equipment"
                }
              }
            }
          },
          "tags": [
            "equipment"
          ]
        },
        "post": {
          "operationId": "equipment_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Equipment"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Equipment"
              }
            }
          },
          "tags": [
            "equipment"
          ]
        },
        "parameters": []
      },
      "/equipment/{id}/": {
        "get": {
          "operationId": "equipment_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Equipment"
              }
            }
          },
          "tags": [
            "equipment"
          ]
        },
        "put": {
          "operationId": "equipment_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Equipment"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Equipment"
              }
            }
          },
          "tags": [
            "equipment"
          ]
        },
        "patch": {
          "operationId": "equipment_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Equipment"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Equipment"
              }
            }
          },
          "tags": [
            "equipment"
          ]
        },
        "delete": {
          "operationId": "equipment_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "equipment"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this equipment.",
            "required": true,
            "type": "integer"
          }
        ]
      },
      "/file/": {
        "get": {
          "operationId": "file_list",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/UploadedFileList"
                }
              }
            }
          },
          "tags": [
            "file"
          ]
        },
        "post": {
          "operationId": "file_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UploadedFile"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/UploadedFile"
              }
            }
          },
          "tags": [
            "file"
          ]
        },
        "parameters": []
      },
      "/file/{id}/": {
        "get": {
          "operationId": "file_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/UploadedFileList"
              }
            }
          },
          "tags": [
            "file"
          ]
        },
        "put": {
          "operationId": "file_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UploadedFile"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/UploadedFile"
              }
            }
          },
          "tags": [
            "file"
          ]
        },
        "patch": {
          "operationId": "file_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UploadedFile"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/UploadedFile"
              }
            }
          },
          "tags": [
            "file"
          ]
        },
        "delete": {
          "operationId": "file_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "file"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique integer value identifying this uploaded file.",
            "required": true,
            "type": "integer"
          }
        ]
      },
      "/notification/": {
        "get": {
          "operationId": "notification_list",
          "description": "",
          "parameters": [
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "q",
              "in": "query",
              "description": "Coma-seperated ids",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/Notifications"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "notification"
          ]
        },
        "parameters": []
      },
      "/organization/groups/": {
        "get": {
          "operationId": "organization_groups_list",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "o_m",
              "in": "query",
              "description": "",
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "include",
              "in": "query",
              "description": "Include groups in response, its UUID comma seperated.",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/GroupsList"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "post": {
          "operationId": "organization_groups_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/NestedGroup"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/NestedGroup"
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": []
      },
      "/organization/groups/metadata/": {
        "get": {
          "operationId": "organization_groups_metadata",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/NestedGroup"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": []
      },
      "/organization/groups/{id}/": {
        "get": {
          "operationId": "organization_groups_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/GroupsList"
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "put": {
          "operationId": "organization_groups_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateNestedGroup"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/UpdateNestedGroup"
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "patch": {
          "operationId": "organization_groups_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateNestedGroup"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/UpdateNestedGroup"
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "delete": {
          "operationId": "organization_groups_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/organization/groups/{id}/accept/invitation/{invitation_id}/": {
        "get": {
          "operationId": "organization_groups_accept_accept_group_invitations",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/NestedGroup"
                }
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "/organization/groups/{id}/add_member/": {
        "put": {
          "operationId": "organization_groups_add_users_to_group",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/AddMemberToGroup"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/AddMemberToGroup"
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/organization/groups/{id}/change/role/{user_id}/": {
        "patch": {
          "operationId": "organization_groups_change_change_user_role_for_group",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateUserRoleForGroup"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/UpdateUserRoleForGroup"
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "/organization/groups/{id}/invitations/": {
        "get": {
          "operationId": "organization_groups_list_group_invitations",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/GroupInvitations"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/organization/groups/{id}/join/": {
        "get": {
          "operationId": "organization_groups_join_group",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/NestedGroup"
                }
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/organization/groups/{id}/reject/invitation/{invitation_id}/": {
        "get": {
          "operationId": "organization_groups_reject_reject_group_invitations",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/NestedGroup"
                }
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "/organization/groups/{id}/user/{user}/": {
        "delete": {
          "operationId": "organization_groups_delete_group_user",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "/organization/groups/{id}/user_list/": {
        "get": {
          "operationId": "organization_groups_list_group_users",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "group_role",
              "in": "query",
              "description": "Group Role reference",
              "type": "string",
              "enum": [
                "ADMIN",
                "OWNER",
                "MEMBER"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/NestedGroup"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/organization/groups/{id}/user_metadata/": {
        "get": {
          "operationId": "organization_groups_user_meta_data",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/NestedGroup"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "organization"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this group.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/project/": {
        "get": {
          "operationId": "project_list",
          "description": "",
          "parameters": [
            {
              "name": "status",
              "in": "query",
              "description": "",
              "required": false,
              "type": "string"
            },
            {
              "name": "projects__category__id",
              "in": "query",
              "description": "Multiple values may be separated by commas.",
              "required": false,
              "type": "string"
            },
            {
              "name": "groups__id",
              "in": "query",
              "description": "Multiple values may be separated by commas.",
              "required": false,
              "type": "string"
            },
            {
              "name": "data_type",
              "in": "query",
              "description": "Multiple values may be separated by commas.",
              "required": false,
              "type": "string"
            },
            {
              "name": "descriptors__descriptor_id",
              "in": "query",
              "description": "Multiple values may be separated by commas.",
              "required": false,
              "type": "string"
            },
            {
              "name": "ordering",
              "in": "query",
              "description": "Which field to use when ordering the results.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "for_user",
              "in": "query",
              "description": "Projects of user",
              "type": "uuid"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/ListProject"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "post": {
          "operationId": "project_create",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/DataIngestionUpload"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/DataIngestionUpload"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/advance_search/": {
        "post": {
          "operationId": "project_advance_search",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Filter"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Filter"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/details/category/{project_id}/{category_id}/": {
        "get": {
          "operationId": "project_details_device_details",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ProjectDetail"
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "/project/details/multiple/": {
        "post": {
          "operationId": "project_details_multiple_project_details",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/MultipleProjectDetails"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/MultipleProjectDetails"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/details/{id}/": {
        "get": {
          "operationId": "project_project_details",
          "description": "",
          "parameters": [
            {
              "name": "projects__device",
              "in": "query",
              "description": "",
              "required": false,
              "type": "string"
            },
            {
              "name": "projects__category",
              "in": "query",
              "description": "",
              "required": false,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ProjectDetail"
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this project.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/project/devices/": {
        "get": {
          "operationId": "project_devices_list",
          "description": "",
          "parameters": [
            {
              "name": "project",
              "in": "query",
              "description": "",
              "required": false,
              "type": "string"
            },
            {
              "name": "category",
              "in": "query",
              "description": "",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/DevicesAndCategoryDevice"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/devices/download/limits/{project_id}/": {
        "get": {
          "operationId": "project_devices_download_download_limits",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/DevicesAndCategoryDevice"
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "/project/devices/download/measurement/{project_id}/": {
        "get": {
          "operationId": "project_devices_download_download_measurement",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/DevicesAndCategoryDevice"
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "/project/devices/node/": {
        "post": {
          "operationId": "project_devices_get_node_data",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/DevicesAndCategoryDevice"
              }
            },
            {
              "name": "data_type",
              "in": "query",
              "description": "Data Dimension types.",
              "type": "string",
              "enum": [
                "2D",
                "1D"
              ]
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/DevicesAndCategoryDevice"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/devices/node/descriptors/": {
        "get": {
          "operationId": "project_devices_node_get_descriptors",
          "description": "",
          "parameters": [
            {
              "name": "projects",
              "in": "query",
              "description": "Project UUID's must be comma seperated.",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/DevicesAndCategoryDevice"
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/limits/": {
        "post": {
          "operationId": "project_create_limits",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateLimits"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/CreateLimits"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/metadata/": {
        "get": {
          "operationId": "project_dropdown_metadata",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "status",
              "in": "query",
              "description": "",
              "required": false,
              "type": "string"
            },
            {
              "name": "projects__category__id",
              "in": "query",
              "description": "Multiple values may be separated by commas.",
              "required": false,
              "type": "string"
            },
            {
              "name": "groups__id",
              "in": "query",
              "description": "Multiple values may be separated by commas.",
              "required": false,
              "type": "string"
            },
            {
              "name": "data_type",
              "in": "query",
              "description": "Multiple values may be separated by commas.",
              "required": false,
              "type": "string"
            },
            {
              "name": "descriptors__descriptor_id",
              "in": "query",
              "description": "Multiple values may be separated by commas.",
              "required": false,
              "type": "string"
            },
            {
              "name": "ordering",
              "in": "query",
              "description": "Which field to use when ordering the results.",
              "required": false,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Project"
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/statistics/": {
        "post": {
          "operationId": "project_create_statistics",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateUpdateStatistics"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/CreateUpdateStatistics"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/v2/upload/": {
        "post": {
          "operationId": "project_v2_create_v2",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/DataIngestionUploadV2"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/DataIngestionUploadV2"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/v2/upload/native/": {
        "post": {
          "operationId": "project_v2_upload_create_v2_native",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/DataIngestionUploadV2"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/DataIngestionUploadV2"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": []
      },
      "/project/{id}/": {
        "get": {
          "operationId": "project_read",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Project"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "put": {
          "operationId": "project_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ProjectUpdate"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ProjectUpdate"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "patch": {
          "operationId": "project_partial_update",
          "description": "",
          "parameters": [
            {
              "name": "data",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ProjectUpdate"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/ProjectUpdate"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "delete": {
          "operationId": "project_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this project.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/project/{id}/download_file/{file_id}/": {
        "get": {
          "operationId": "project_download_clean_data",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Project"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this project.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/project/{id}/get_download_code/{file_id}/": {
        "get": {
          "operationId": "project_download_cleaned_files_curl_and_shell",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/PowerShellAndCurl"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this project.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/project/{id}/privileges/": {
        "get": {
          "operationId": "project_project_access_details",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Project"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this project.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/project/{id}/recreate_clean_data/": {
        "get": {
          "operationId": "project_create_clean_data",
          "description": "",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "$ref": "#/definitions/Project"
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this project.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "/project/{project_id}/properties/": {
        "get": {
          "operationId": "project_project_properties",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "ordering",
              "in": "query",
              "description": "Which field to use when ordering the results.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/PropertiesList"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "/project/{project_id}/properties/{id}/": {
        "get": {
          "operationId": "project_project_properties_object",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "ordering",
              "in": "query",
              "description": "Which field to use when ordering the results.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/PropertiesList"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "project"
          ]
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A UUID string identifying this device category property.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "/project_categories/": {
        "get": {
          "operationId": "project_categories_list",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/Category"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "project_categories"
          ]
        },
        "parameters": []
      },
      "/project_category/": {
        "get": {
          "operationId": "project_category_list",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/Category"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "project_category"
          ]
        },
        "parameters": []
      },
      "/project_descriptors/": {
        "get": {
          "operationId": "project_descriptors_list",
          "description": "",
          "parameters": [
            {
              "name": "search",
              "in": "query",
              "description": "A search term.",
              "required": false,
              "type": "string"
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return per page.",
              "required": false,
              "type": "integer"
            },
            {
              "name": "offset",
              "in": "query",
              "description": "The initial index from which to return the results.",
              "required": false,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "schema": {
                "required": [
                  "count",
                  "results"
                ],
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer"
                  },
                  "next": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "previous": {
                    "type": "string",
                    "format": "uri",
                    "x-nullable": true
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/DescriptorsList"
                    }
                  }
                }
              }
            }
          },
          "tags": [
            "project_descriptors"
[...]
